*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.obj-width{
    max-width: 1200px;
    margin: auto;
}
nav{
    background-color: #2d4c50;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.3);
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    align-items: center;
    padding: 1.3rem 0;

}
.navbar .logo{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.2rem;
}
#serch-input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    color: #333;
    border-radius: 0.5rem;
}
#button{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 0.4rem;
    cursor: pointer;;
    background-color: green;
    color: white;
    border: none;
    margin-left: 10px;
}
/* .navbar-second{
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    /* align-items: center;
    padding: 1.3rem 0;
    font-size: 1.8rem;
} */
/* .navbar-second:hover{
    color: aqua;
}  */
#blog-container{
     padding:3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; 
    
}
.blog-card{
    width: 280px;
    height: 500px;
    border: 1px solid #2d4c50;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
}
.blog-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;

}
.blog-card :hover{
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.blog-card p{
    font-size: 1.2rem;
    padding-top: 0.7rem;
}
.blog-card h2{
       color: #141414;
       font-size: 1.7rem;
       font-weight: 550;
}
@media(max-width:500px) {
    nav{
        padding: 0 20px;
    }
    .navbar .logo {
        
        font-size: 1.8rem;
    }
    #serch-input {
        max-width: 150px;
        padding:10px 10px ;
    }
    .blog-card {
        width: 100%;
    }
}